<ion-view title="New Report">
    <ion-content padding="'true'" class="has-header">
        <a menu-close="" href="#/login" class="button button-stable button-icon  icon-left ion-android-cancel">Cancel</a>
        <a menu-close=""
           class="button button-stable button-icon  icon-right ion-android-arrow-dropright-circle"
           ng-click="onNext()"
        >Next</a>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Report Title</span>
                <input type="text" placeholder="enter your report title here"
                  ng-model="model.newReport.reportName">
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Staff Name</span>
                <select
                        ng-class="model.newReport.staffName ? '': 'staff-placeholder'"
                        ng-model="model.newReport.staffName">
                  <option value="" class="staff-placeholder" selected="selected">choose staff x</option>
                  <option value="fred">Fred</option>
                  <option value="barney">Barney</option>
                  <option value="betty">Betty</option>
                  <option value="wilma">Wilma</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Date Submitted</span>
                <input type="date" placeholder="" ng-model="model.newReport.dateSubmitted">
            </label>
          <label class="item item-input">
            <span class="input-label">Report Type</span>
            <ion-radio ng-model="model.newReport.reportType" ng-value="'NDCCCG'">NDCCG</ion-radio>
            <ion-radio ng-model="model.newReport.reportType" ng-value="'DoH'">DoH</ion-radio>
            <ion-radio ng-model="model.newReport.reportType" ng-value="'Monitor'">Monitor</ion-radio>
            <ion-radio ng-model="model.newReport.reportType" ng-value="'Board'">Board</ion-radio>
          </label>
          <ion-item class="range range-positive">Current Position
            <input type="range" value="50" min="0" max="100" ng-model="model.newReport.currentPosition">
          </ion-item>

        </form>
    </ion-content>
</ion-view>
