<ion-view title="Summary">
    <ion-content padding="'true'" class="has-header">
        <h1>Heading</h1>
        <ion-list>
          <ion-item menu-close="" ng-repeat="p in items">{{p.key}}: {{p.value}}</ion-item>
        </ion-list>
        <a menu-close="" href="#/new" class="button button-stable button-icon  icon-left ion-android-create">Edit</a>
        <a menu-close="" ng-click="onNext()" class="button button-stable button-icon  icon-right ion-android-arrow-dropright-circle">Submit</a>
    </ion-content>
</ion-view>
