body{
 color: blue;
}
.item-select select{
  font-size:20px;
  left:200px;
}
.item-select .staff-placeholder{
  color:darkgrey;
}
.staff-placeholder{
  color:darkgrey;
}
.myapp-alert-text{
  color:red;
  font-size:30px;
  border:20px;
  text-align:center;
  vertical-align: middle;
  line-height:130%;
}
.myapp-alert-thanks{
  color:green;
}

